.env
profil_pa_*
profil_pa_besoiu_*
data/
cache_tecdoc/
*.log
*.txt
!.gitkeep
baza_date.json
leads.json
status.txt
status_fb.txt
debug_lista_ai.txt
articole_brute.json
categorii_complete.json
categorii_extrase.txt
categorii_selectate.json
categorii_vehicul.json
cuvint_final_cautare.txt
id_categorie_final.txt
keywords_pentru_cautare.txt
ramura_filtrata.json
pars_cookie.txt
pars_log.txt
